.btn-filter{
    margin: 0 25px;
}

.main{
    margin-top: 50px;
    padding: 30px;
}

body{
    background-color: darkslategray;
}

.abstandOben{
    margin: 10px 0px 0px 0px;
}

.abstandRechts{
    margin: 0px 10px 0px 0px;
}
.abstandLinks{
    margin: 0px 0px 0px 10px;
}